<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>
    <header th:fragment="header(map, object, redirectPage, redirectName)" class="p-4 bg-light">
        <nav class="navbar">
            <div class="container-fluid">

                <div class="d-flex align-items-center">
                    <h1>La pizzeria di Pietro</h1>
                    <a class="btn btn-primary ms-4" sec:authorize="hasAuthority('ADMIN')"
                        th:href="@{|/${redirectPage}|}">[[${redirectName}]]</a>
                </div>

                <div class="d-flex gap-4">
                    <form th:action="@{|/${map}|}" method="get" class="d-flex">
                        <input type="text" name="search" class="form-control me-2" placeholder="Cerca ..."
                            th:value="${search}">
                        <button type="submit" class="btn btn-outline-primary">Cerca</button>
                    </form>

                    <a class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')"
                        th:href="@{|/${map}/create|}">Aggiungi [[${object}]]</a>
                    <a class="btn btn-secondary" th:href="@{/logout}">Logout</a>

                </div>
            </div>
        </nav>
    </header>
</body>

</html>