<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head('Elimina')"></th:block>
</head>

<body>

    <div th:fragment="modal(objectId, objectName, artObj, object)" class="modal fade"
        th:id="'delete-modal-' + ${objectId}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Elimina [[${objectName}]]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare [[${artObj}]] <strong>[[${objectName}]]?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <form class="d-inline-block" th:action="@{|/${object}/delete/${objectId}|}" method="post">
                        <button type="submit" class="btn btn-primary">Elimina</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script th:replace="fragments/script :: script"></script>

</body>

</html>