<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head('Aggiungi una nuova offerta speciale')"></th:block>
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Aggiungi un'offerta speciale per la pizza [[${offertaSpeciale.pizza.nome}]]
        </h2>

        <form th:action="${edit} ? @{|/offers/edit/${offertaSpeciale.id}|} : @{/offers/create}" id="offer-form"
            th:object="${offertaSpeciale}" method="post">

            <input type="hidden" th:field="*{pizza}" id="linked-pizza">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome Offerta</label>
                <input type="text" id="nome" class="form-control" th:field="*{nome}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('nome')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="data-inizio" class="form-label">Data Inizio</label>
                <input type="date" id="data-inizio" class="form-control" th:field="*{dataInizio}"
                    th:errorClass="is-invalid"></input>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('dataInizio')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('dataInizio')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="data-fine" class="form-label">Data Fine</label>
                <input type="date" id="data-fine" class="form-control" th:field="*{dataFine}"
                    th:errorClass="is-invalid"></input>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('dataFine')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('dataFine')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success">Salva Offerta</button>
                <a th:href="@{/pizzas/{id} (id = ${offertaSpeciale.pizza.id})}" class="btn btn-secondary">Torna alla
                    pizza</a>
            </div>
        </form>
    </div>
</body>

</html>